<%= link_to "Alpha Bog", articles_path %> | <%= link_to 'about', about_path %>


<!DOCTYPE html>
<html>
    <head>
        <title>Chemm Morados</title>
        <link href="https://fonts.googleapis.com/css?family=Handlee"rel="stylesheet">
        <link href="application.css" rel="stylesheet" type="text/css">
        </head>
        <body>

            <div class="section">
            <h1 align="center"><span>About Me</span></h1></div>

<p align="Center">
Hi! I'm <strong>Chemm Morados</strong>. A self-taught programmer. </br>Someday I'll become a professional software developer
</p>
<p class="quote" align="left"><i>"Declare Variables, NOT war"</i> </p>
